<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h1><a href="{{model.bggUrl}}" target="_blank">{{model.name}}</a> <small>{{model.yearPublished}}</small></h1>
            </div>
            <div class="row spacer">
                <div class="col-lg-4">
                    <img src="{{model.imageUrl}}" class="img-thumbnail" />
                </div>
                <div class="col-lg-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="pull-right">{{model.boardGameStat.rank}}</span>
                            Rank
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right">{{model.boardGameStat.bayesianRating}}</span>
                            Rating
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right">{{model.boardGameStat.averageWeight}}</span>
                            Weight
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right">{{model.minPlayers}} - {{model.maxPlayers}}</span>
                            Player #
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right">{{model.playingTime}}</span>
                            Time (min.)
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h2>{{model.price}}$</h2>
                    <p>MSRP: <s>{{model.price}}</s></p>
                    <p>In Stock.</p>
                    <button {{action 'addToCart' model}} class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
                </div>
            </div>
            <div class="well spacer">
                {{#each tag in model.tagDefinitions}}
                <span class="label label-default">{{tag.name}}</span>
                {{/each}}
            </div>
            <pre class="no-word-break spacer">{{model.unescapedDescription}}</pre>
        </div>
    </div>
</div>