<div class="container">
    <div class="container">
        <h1>Checkout</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="text-center cart-item">Total:</td>
                    <td class="text-center cart-item">{{model.total}}</td>
                </tr>
            </tfoot>
            <tbody>

                {{#each cartItem in model.cartItems}}
                <tr>
                    <td class="cart-item">{{cartItem.boardGame.name}}</td>
                    <td class="text-center cart-item">{{cartItem.quantity}}</td>
                    <td class="text-center cart-item">{{cartItem.boardGame.price}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>

        <div class="row">
            <form id="payment-form">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Card Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" class="form-control" id="cardNumber" data-stripe="number" />
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cvc">CVC</label>
                                        <input type="text" class="form-control" id="cvc" data-stripe="cvc" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Expiration</label>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label for="expirationMonth" class="sr-only">Expiration Month</label>

                                                <input type="text" class="form-control" id="expirationMonth" data-stripe="exp-month" placeholder="MM" />
                                            </div>
                                            <div class="col-xs-8">
                                                <label for="expirationYear" class="sr-only">Expiration Year</label>
                                                <input type="text" class="form-control" id="expirationYear" data-stripe="exp-year" placeholder="YYYY" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Shipping Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="streetNumber">Number</label>
                                        <input type="text" class="form-control" id="streetNumber" />
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="address">Street</label>
                                        <input type="text" class="form-control" id="address" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="other">Appartment/Other</label>
                                <input type="text" class="form-control" id="other" />
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="province">Province</label>
                                        <input type="text" class="form-control" id="province" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Zip">Zip Code</label>
                                        <input type="text" class="form-control" id="zip" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="tel" class="form-control" id="phone" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </form>
           
        </div>
        <button {{action 'submit' }} class="btn btn-default pull-right">Submit Payment</button>
    </div>
</div>